@font-face{
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

body{
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color:white;
  color: #444444;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  /* width: 1440px; */
}

.page-name{
    display:none;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header{
    background: #FFE17F;
    background-size: 100% auto;
    color:black;
}

.user-menu{      /* нужно отделить один из элементов списка */
    display: flex;
    width: 1040px;
    margin: 0 auto;
    justify-content: space-between;    
}

.user-menu-list{
    display: flex;
    max-width: 497px;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav-link{
    display: block;
    color:black;
    text-decoration: none;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 26px;   /*уточнить отступы*/
}

.topmenu{
    display: flex;
    margin: 0 auto;
    width: 1040px;
    justify-content: space-between;
    margin-top: 14px;
    list-style-type: none;
}

.info-link{
    font-family: Raleway, sans-serif;
    line-height: 21px;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.topmenu .catalog{
    flex-grow: 1;
}

.topmenu-catalog{
    position: relative;
}

.catalog-submenu-list{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
    list-style-type: none;
}

.catalog-submenu-list a{
    color:black;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}

.topmenu li:hover .catalog-submenu-list{
    display:block;
}

.slider-numbering{
    background-color: #FFE17F;
    width: 250px;
    height: 135px;
    margin: 0;
    padding: 0;
}

.slider-description{
    display: flex;
    width: 560px;
    flex-direction: column;
    align-items: flex-start;
}

.h2{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color:black;
    margin:0;
    padding:0;
}

.quadrocopter-properties-value{
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color:black;
}

.quadrocopter-properties-header{
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:inherit;
}

.quadrocopter-properties{
    border-spacing: 20px 12px;
}

.smart-watch-properties-value{
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color:black;
}

.smart-watch-properties-header{
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:inherit;
}

.smart-watch-properties{
    border-spacing: 0 12px;
}

.selfie-properties-value{
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color:black;
}

.selfie-properties-header{
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:inherit;
}

.selfie-properties{
    border-spacing: 40px 12px;
}

.category-item-link{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 24px;
    color:black;
    text-decoration: none;
}

.highlighted-link{
    font-family: Raleway;
    font-weight: 800;   
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color:black;
    text-decoration: none;
    position: relative;
    padding: 14px 0 15px;
}

/* .highlighted-link:hover {
    background-color: #FFE17F;
} */

.highlighted-link::before{
    position: absolute;
    content: '';
    background-color: #FFE17F;
    top: 42%;
    height: 8px;
    width: 100%;
    z-index: -1;
    right:0;
    left:0;
}

.highlighted-link-more{
    display:block;
    width:220px;
}

.about .highlighted-link-about{
    display:block;
    width:270px;
}

.highlighted-link-write-to-us{
    display:block;
    width:259px;
}

.delivery-on-order{
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color:black;
    display:flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 70px;
}

.delivery-on-order-text{
    display:block;
    width:910px;
    padding-top: 40px;
    margin-bottom:40px;
}

.delivery-on-order-image{
    display:flex;
    width:125px;
    height:100px;
    background-color: #FFE17F;
}

.delivery-on-order-icon{
    margin:auto;
}

.transport-companies-item{
    font-family: Rubik;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.02em;
    color:black;
}

.h3-contacts{
    font-family: Rubik;
    font-weight: bold;
    font-size: 24px;
}

.contacts-adress{
    font-style: normal;
}

.contasts-phone{
    color:#444444;
}

.shedule-list{
    list-style-type: none;
    margin-left: 0;
}

.main-inner{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color:black;
    background-color:#F0F0F0;
    padding-top: 35px;
}

.inner-user-menu{      /* нужно отделить один из элементов списка */
    display: flex;
    width: 1040px;
    margin: 0 auto;
    justify-content: flex-start;
    margin-bottom: 30px;    
}

.inner-user-menu-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.products-category-page{
    font-family: Raleway;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 16px;

}

.breadcrumbs{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color:black;
    text-decoration:none;
    margin-right: 36px;
}

.interface-bar{
    font-family: Raleway;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.color-selection{
    list-style-type: none;
}

.color-selection li{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.bluetooth-selection{
    list-style-type: none;
}

.bluetooth-selection li{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.products-catalogue{
    display: flex;
    max-width: 840px;
    height: 30px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 35px;
    margin-bottom: 70px;
}

.product-card-list{
    list-style-type: none;
}

.product-card-link{
    color:black;
    text-decoration: none;
}

.show-more{
    font-family: Raleway;
    font-size: 16px;
    line-height: 19px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 44px;
    margin-bottom: 44px;
}

.pagination-bar-container{
    display: flex;
    width: 760px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 78px;
    list-style-type: none;
    justify-content: space-between;
}

.pagination-bar{
    display: flex;
    width: 200px;
    margin: 0 auto;
    list-style-type: none;
    vertical-align: baseline;
    justify-content: space-between;
}

.pagination-bar-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    color: #444444;
    opacity: 0.3;
}

.pagination-bar-link-prev{
    font-family: Raleway;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
}

.footer-nav a{
    font-family: Raleway;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
}

.page-footer{
    background-color:#444444;
    color:white;
    font-size: 16px;
}

.footer-address{
    font-style: normal;
}

.footer-contacts-phone{
    color:white;
}

.htmlacademy-link{
    color:#FFE17F;
    text-decoration: none;
}

.html{
    height:100%;
}

.main-index-container{
    width:1160px;
    margin: 0 auto;
}

.catalog-navigation{
    display: flex;
    width: 1040px;
    margin: 0 auto;
    justify-content: space-between;
}

/* .user-menu-list:nth-child(1){
    margin-right: 177px;
} */

.page-logo{
    padding-top: 16px;
    padding-bottom: 30px;
    display:flex;
    margin: 0 auto;
    width: 1040px;
}

.slider-slide{
    display: flex;
    justify-content: space-between;
}








.product-category{
    margin-bottom: 70px;
}

.product-category-list{
    display:flex;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}

.product-category-item{
    width:160px;
    list-style-type: none;
}

.product-category-item-icon{
    background-color: #FFE17F;
    width:160px;
    margin:0;
    padding:0;
}

.delivery-slider-pagination{
    list-style-type: none;
}

.delivery-slider-wrapper{
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    margin-bottom: 70px; 
}
  
.delivery-slider-text{
    width: 452px;
}
  
.delivery-slider-buttons{
    width:287px;
}

.about-contacts-wrapper{
    display:flex;
    width: 1160px;
    margin:0 auto;
    justify-content: space-between;
    margin-bottom: 70px;
}

.about{
    width:520px;
}

.contacts{
    width:532px;
}

.newsletter-subscription{
    margin-bottom: 56px;
}

.newsletter-subscription-text{
    display:flex;
    width:1160px;
    margin:0 auto;
    justify-content:space-between;
}
  
.newsletter-subscription-highlight{
    width:348px;
}
  
.newsletter-subscription-article{
    width:560px;
}
  
.newsletter-subscription-form-container{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-top: 144px;
    justify-content: space-between;
}
  
.newsletter-subscription-form{
    width:810px;
}
  
.newsletter-subscription-free{
    display:block;
    width:128px;
}

.page-footer-logo{
    display: flex;
    margin: 0 auto;
    width: 1160px;
    margin-top: 62px;
    margin-bottom: 35px;
}

.footer-address-nav-phone-container{
    display:flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 35px;
}

.footer-address{
    width:239px;
}

.footer-nav{
    width:444px;
}

.footer-nav-list{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    list-style-type: none;
    
}

.footer-phone{
    width:174px;
}

.footer-social-container{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 63px;
    margin-bottom: 61px;
}

.footer-social{
    width: 150px;
    margin-left: auto;
}

.footer-social-list{
    display: flex;
    flex-wrap: wrap;
    min-width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.footer-social-item{
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 40px;
    min-height: 40px;
}

.footer-social-item:nth-child(3n){
    margin-right:0;
}

.htmlacademy-link{
    width:115px;
    margin-left:auto;
}

.logo-link{
    padding-top: 16px;
    padding-bottom: 30px;
    display:flex;
    margin: 0 auto;
    width: 1040px;
}
  
.inner-user-menu{
    display: flex;
    width: 1040px;
    margin: 0 auto;
    justify-content: space-between;
}


.main-inner-container{
    width:1160px;
    margin:0 auto;
}

.catalog-products{
    display:flex;
}

.filters{
    width:200px;
    margin-left:60px;
    margin-right:60px;
}

.catalog-right-column{
    width:760px;
}